<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Parking Dasboard</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'><link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">
  <title>Parking space monitoring</title>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
        <div class="sidebar-sticky">

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-3 mb-3 text-muted">
            <span>Menu</span>
            <a class="d-flex align-items-center text-muted" href="#">
              </a>
          </h6>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" href="#">
                  <span data-feather="check-circle"></span>
                  Statistics <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                  <span data-feather="check-circle"></span>
                  Live Feed
                </a>
            </li>
          </ul>
        </div>
      </nav>

      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="pt-3 pb-2 mb-3 border-bottom">
          <h2> Parking Dasboard
          </h2>
        </div>

        <div class="row my-3">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Today</h5>
                <canvas id="TodayChart"></canvas>
              </div>
            </div>

          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">CPU</h5>
                <canvas class="w-100" id="cpu-chart" width="" height=""></canvas>
              </div>
            </div>
          </div>
        </div>

        <div class="row my-3">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Docker statistics</h5>
                <canvas id="docker-statistics-chart"></canvas>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">MongoDB - Average Object Size</h5>
                <canvas class="w-100" id="mongodb-average-object-size-chart"></canvas>
              </div>
            </div>
          </div>
        </div>

        <div class="row my-3">
          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Version control</h5>
                <p class="card-text">Version control system: git</p>

                <p class="card-text">
                  Current commit: </p>
                <p class="card-text">
                  <div class="dropdown show">
                    <a class="btn btn-sm btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    ed86be
  </a>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="#">Action</a>
                      <a class="dropdown-item" href="#">Another action</a>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                  </div>
                </p>
                <p class="card-text">
                  3 files with 69 additions and 8 deletions
                </p>
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Commits</h5>
                <canvas class="w-100" id="commits-chart" width="" height=""></canvas>
              </div>
            </div>
        </div>

        <div class="col-md-6">
          <div class="card">
            <div class="card-body">
                <h5 class="card-title">Feature usage</h5>
                <canvas class="w-100" id="feature-usage" width="" height=""></canvas>
            </div>
          </div>

        </div>

        <div class="row my-3">
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">Deployment history</h5>
                <div class="table-responsive">
                  <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                        <th>Deployment id</th>
                        <th>Deployment start</th>
                        <th>Deployment end</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>797523f7</td>
                        <td>2017-04-18 12:11:53</td>
                        <td>N/A</td>
                        <td><button type="button" class="btn btn-sm btn-info">Statistics</button></td>
                      </tr>
                      <tr>
                        <td>fbb5c5aa</td>
                        <td>2016-11-21 13:36:16</td>
                        <td>2017-03-02 03:29:49</td>
                        <td><button type="button" class="btn btn-sm btn-info">Statistics</button></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        </div>
      </main>
    </div>
  </div>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
  <script>
    feather.replace()
  </script>

  <!-- Graphs -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
  <script>

    function makeChart(id, labels, datasets, yunit, ymin, ymax) {
      yunit = yunit || '';
      var override = ymin || ymax;

      var ctx = document.getElementById(id);
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: labels,
          datasets: datasets
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                suggestedMin: ymin,
                suggestedMax: ymax,
                beginAtZero: false,
                callback: function(value, index, values) {
                    return value + yunit;
                }
              }
            }]
          },
          legend: {
            display: true,
          }
        }
      });
    }

    function getRndInteger(min, max) {
      return Math.floor(Math.random() * (max - min)) + min;
    }

    function getRndBit() {
      return Math.floor(Math.random() + 0.5);
    }

    function getDatasetForData(label, data, color, borderWidth) {
      borderWidth = borderWidth || 2;
      return [{
        label: label,
        data: data,
        backgroundColor: 'transparent',
        borderColor: color,
        borderWidth: borderWidth,
        pointBackgroundColor: color
      }];
    }

    var baseActivity = [15339, 21345, 18483, 24003, 23489, 24092, 12034];
    var test = [1, 2, 3, 4, 5, 6, -10];

    //date tabele - cum naiba sunt facute astea.....?
    var BusyLots = test
    var FreeLots = BusyLots.map(function (e) { return e + getRndInteger(-30, 30) });

    var currentCPUData = Array.apply(null, Array(13)).map(function () { return getRndInteger(7, 45) });
    var historyCPUData = currentCPUData.map(function (e) { return e + getRndInteger(-6, 6) });

    var currentDockerData = Array.apply(null, Array(13)).map(function () { return getRndInteger(7, 45) });
    var historyDockerData = currentDockerData.map(function (e) { return e + getRndInteger(-6, 6) });

    var currentMongoData = Array.apply(null, Array(13)).map(function () { return getRndInteger(320, 3690) });
    var historyMongoData = currentMongoData.map(function (e) { return e + getRndInteger(-300, 300) });

    var commitData = Array.apply(null, Array(7)).map(function () { return getRndInteger(0, 3) });

    var weekdayLabels = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
    var hourLabels = Array.apply(null, Array(25)).map(function(e, i) {
      return ('0' + i).slice(-2) + ':00'
    })

    var minuteLabels = Array.apply(null, Array(13)).map(function(e, i) {
      return ('0' + 5 * i).slice(-2) + 'm'
    })

    //culori pentru linii grafuri
    var red = '#D7263D'
    var blue = '#007BFF'
    var green = '#008000'

  //Variabile pt cele 4 grafice (nume, ce afiseaza pe graf)
    //Variabile graf Today
    var currentMemoryDataset = getDatasetForData('Locuri ocupate', BusyLots, red);
    var historyMemoryDataset = getDatasetForData('Locuri libere', FreeLots, green);

    var currentCPUDataset = getDatasetForData('Current', currentCPUData, red);
    var historyCPUDataset = getDatasetForData('History', historyCPUData, blue);

    var currentDockerDataset = getDatasetForData('Current', currentDockerData, red);
    var historyDockerDataset = getDatasetForData('History', historyDockerData, blue);

    var currentMongoDataset = getDatasetForData('Current', currentMongoData, red);
    var historyMongoDataset = getDatasetForData('History', historyMongoData, blue);

    var commitDataset = getDatasetForData('Commits pushed', commitData, blue);

    var commits = Array.apply(null, Array(7)).map(getRndBit);
    makeChart('TodayChart', hourLabels, currentMemoryDataset.concat(historyMemoryDataset), ' MB');
    makeChart('cpu-chart', minuteLabels, currentCPUDataset.concat(historyCPUDataset), ' %', 0, 100);
    makeChart('docker-statistics-chart', minuteLabels, currentDockerDataset.concat(historyDockerDataset), ' %', 0, 100);
    makeChart('mongodb-average-object-size-chart', minuteLabels, currentMongoDataset.concat(historyMongoDataset), ' Byte', 0, 60000);
    makeChart('commits-chart', weekdayLabels, commitDataset, '', 0, 5);

// FEATURE USAGE
    var featureChartData = {
      labels: ['OAuth login', 'Realtime notification', 'Issue tracking'],
      datasets : [{
        label: 'Returning user adoption',
        backgroundColor: window.chartColors.blue,
        data: [32, 59, 45]
      }, {
        label: 'New user adoption',
        backgroundColor: window.chartColors.green,
        data: [69, 24, 50]
      }]
    }

    var feature_ctx = document.getElementById('feature-usage').getContext('2d')

    var feature_chart = new Chart(feature_ctx, {
      type: 'bar',
      data: featureChartData,
      options: {
        title: {
          display: true,
          text: 'Feature adoption between 2018-01-01 2018-04-01'
        },
        tooltips: {
          mode: 'index',
          intersect: false
        },
        responsive: true,
        scales: {
          xAxes: [{
            stacked: true,
          }],
          yAxes: [{
            stacked: true,
          }]
        }
      }
    })




  </script>
</body>

</html>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/popper.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css'></script><script  src="./script.js"></script>

</body>
</html>